* {
    font-family: "gameFont", serif;
}

*.shadow {
    text-shadow: 1px 1px #5d3c14;
}

.request-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
}

.leaflet-popup-content p {
    margin: 0;
}

.btn {
    background: rgb(107, 71, 23);
    background: -moz-linear-gradient(354deg, rgba(107, 71, 23, 1) 0%, rgba(93, 60, 20, 1) 100%);
    background: -webkit-linear-gradient(354deg, rgba(107, 71, 23, 1) 0%, rgba(93, 60, 20, 1) 100%);
    background: linear-gradient(354deg, rgba(107, 71, 23, 1) 0%, rgba(93, 60, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6b4717", endColorstr="#5d3c14", GradientType=1);
    border: 2px solid #896B44;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}